@page
@model TestForOnlyOffice.Pages.Account.ManagePersonModel
@using Microsoft.AspNetCore.Mvc.Localization
@using TestForOnlyOffice.Classes;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Manage"];
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.Id" />
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FirstName"]</label>
                <input asp-for="Person.FirstName" class="form-control" />
                <span asp-validation-for="Person.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["LastName"]</label>
                <input asp-for="Person.LastName" class="form-control" />
                <span asp-validation-for="Person.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Email"]</label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Password"]</label>
                <input asp-for="Person.Password" class="form-control" />
                <span asp-validation-for="Person.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@SharedLocalizer["Language"]</label>
                <select asp-for="Person.Language" class="form-control">
                    <option>English</option>
                    <option>Russian</option>
                </select>
                <span asp-validation-for="Person.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>